/* ion-item::part(native) {
  background: inherit;
  color: rgb(29, 29, 29);
}

ion-item::part(detail-icon) {
  color: white;
  opacity: 1;
  font-size: 20px;
}
ion-item::part(native):hover,ion-item::part(detail-icon):hover  {
  color:#fff;
  background: rgb(102, 97, 97);
} */

.link {
  /* color: rgb(145, 26, 26); */
  text-decoration: inherit;
}